body {
  background-color: #333333;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1;
  position: relative;
  padding: 38px;
}

h1, h2, h3 {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #d5d5d5;
}

h3 {
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}